#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  padding: 10px;
  text-align: left;
  font-weight: 500;
}

input {
  border-radius: 8px;
  height: 26px;
  padding-left: 9px;
}
